@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Karla:wght@400;700&family=Poppins:wght@400;500;600;700;800&family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Nordique;
  src: url();
}

.home {
  border-bottom-left-radius: 100px;
  /* font-family: ; */
}
body {
  font-family: Inter;
}
h1 {
  font-family: Nordique;
}

.poppins {
  font-family: Poppins;
}

.input,
select {
  outline: none;
  padding: 1rem;
  border: 1px solid #999;
}
